<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDao" class="org.example.dao.UserDaoImpl"/>
    <bean id="userService" class="org.example.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="user" class="org.example.entity.User" scope="prototype">
        <property name="id" value="10086"/>
        <property name="passWord" value="10086"/>
        <property name="sex" value="man"/>
        <property name="age" value="18"/>
        <property name="bornDate" value="2022/12/12 12:12:12"/>
        <property name="hobbies">
            <array>
                <value>football</value>
                <value>basketball</value>
            </array>
        </property>
        <property name="phones">
            <set>
                <value>1243</value>
            </set>
        </property>
        <property name="names">
            <list>
                <value>zhangsan</value>
            </list>
        </property>
        <property name="countries">
            <map>
                <entry key="key" value="asd"/>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="url">afhiljl</prop>
            </props>
        </property>

        <property name="address" ref="address"/>


    </bean>

    <bean id="address" class="org.example.entity.Address">
        <property name="id" value="1"/>
        <property name="address" value="afgre"/>
     </bean>

    <bean id="student" class="org.example.entity.Student">
        <constructor-arg name="id" value="11"/>
        <constructor-arg name="name" value="11"/>
        <constructor-arg name="sex" value="11"/>
        <constructor-arg name="age" value="11"/>
    </bean>

    <bean id="conn" class="org.example.factoryBean.MyConnectionFactoryBean">

    </bean>
</beans>